<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make search request</title>
</head>
<body>
    <p>
        Make a search to /search
    </p>
    <input id=""type="text">
    <input id="search" type="button" value="Search">

    <p id="result"></p>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $('#search').click(function() {
        let text = $('input[type=text]')[0].value;
        let token = document.cookie.split('=')[1]

        $.get({
            url: '{{.proxy_url}}/search?text=' + text,
            dataType: 'json',
            headers: {'Authorization': 'Bearer ' + token},
            success: function (response) {
                $('#result').text(response);
            },
            error: function (response) {
                $('#result').text(response.statusText);
            }
        });
    });
</script>


</html>