<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make search request</title>
</head>
<body>
    <p>
        Make a search to /search <a href="/logout">Logout</a>
    </p>
    <input id=""type="text">
    <input id="search" type="button" value="Search">

    <p id="result"></p>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $('#search').click(function() {
        let text = $('input[type=text]')[0].value;
        let token = '{{.access_token}}'

        $.ajax({
            method: 'GET',
            url: '{{.proxy_url}}?text=' + text,
            success: function (response) {
                $('#result').html(JSON.stringify(response, null, 4));
            },
            error: function (response) {
                $('#result').html(JSON.stringify(response, null, 4));
            },
            beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + token); }
        });
    });
</script>


</html>